
/* General */
h1 {
    text-align: center;
    margin: 50px 0;
}

body {
    width: 50vw;
    height: 90vh;
    margin: 0 auto;
}

/* Body */
._listitem {
    list-style-type: none;
    border: 1px solid grey;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    margin: 0;
    border-radius: 5px;

}

._addTask {
    padding: 10px 15px;
}

/* JS */

._done {
    text-decoration:line-through;
}
